root = true
insert_final_newline = true
charset = utf-8

[app/**/*.js]
indent_style = space
indent_size = 2

[app/**/*.css]
indent_style = space
indent_size = 2

[{package.json}]
indent_style = space
indent_size = 2